<html>
  <body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333">
    <div style="max-width: 600px; padding: 20px">
      <h2 style="color: #06965c">Reset your password 🎪</h2>

      <p>Hello {{ name|default:"there" }},</p>

      <p>
         We have received a request to reset your password. If this was not you, please let us know. You can reset your password 
         by clicking the link below.
      </p>

      <p style="margin: 30px 0; text-align: center">
        <a
          href="{{ reset_url }}"
          style="
            background-color: #06965c;
            color: white;
            padding: 12px 30px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
          "
        >
          Reset your password
        </a>
      </p>

      <p
        style="
          margin-top: 40px;
          border-top: 1px solid #ddd;
          padding-top: 20px;
          font-size: 12px;
          color: #666;
        "
      >
        The Clapp Team
      </p>
    </div>
  </body>
</html>
